@import url(style.css);
*{
    padding: 0%;
    margin: 0%;
    font-family: "roboto slaph";
}
.container_1{
    height: 911px;
    width: 100%;
    background-image: url("/storage/img/placeYourImageHere0.png");
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-blend-mode: exclusion;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.sub_container{
    top: 0;
    left: 0;
    width: 100%;
    height: 911px;
    background-color: rgba(0, 0, 0, 0.7); 
}
.box_1{
    position: static;
    top: 0;
    left: 0;
    width: 97%;
    background-color: rgba(0, 0, 0, 0.7); /* Añade un color de fondo transparente */
    display: flex;
    justify-content: space-evenly; /* Alinea los elementos en los extremos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 0; /* Añade un poco de espacio alrededor del contenido */
    z-index: 1000; 
    padding: 7px;
}
.Menus{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: large;
    align-content: space-around;
    margin: 20px;
    content: 60px;
    list-style: none;
}
li a{
    margin: 10px 20px;
    word-spacing: 700px;
    
}
img{
    display: flex;
    align-items: center;
}
.others{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: large;
    align-content: row-reverse;
    margin: 20px;
    content: 60px;
    list-style: none;
}
.left{
    display: flex;
    flex-direction: row;
    text-align: right;
    align-content: flex-start;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    content: 60px;
    list-style: none;
}
h1{
    display: flex;
    color:  #e58f00;
    font-family: "roboto slaph";
    text-align: right ;
    align-items: end;
    align-self: flex-start;
    font-size: 58px; 
    margin: 300px 500px 0 0; 
    height: 100px;
    width: 400px;
}
.imagen{
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 500px;
    margin:40px
}
.imagen img{
    width: 900px;
    height: 700px;
    align-items: flex-end;
    margin-top: 120px;
}
p{
    display: flex;
    color: white;
    font-family: "roboto slaph";
    text-align: start    ;
    font-size: 30px; 
    text-overflow: ellipsis; 
    margin: 20px 300px 40px 30px;
}
.bottom{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: start;
    background: #e58f00;
    border-radius: 10px;
    border-color: #e58f00;
    margin: 100px;
    
}
.botton button{
    width: 200px;
    height: 60px;
    margin: 0px;
    position: relative;
    border: solid gb(249, 158, 22);
    color:#323239;
    background: #e58f00;
    font-family: "Bree Serif", serif;
    font-size: x-large;
    font-weight: 900;   
    cursor: pointer;
    border-radius: 10px;
    border-color: #e58f00;
    margin: 0px 670px 200px 1px;
}

/* Codigo Pagina 3 */
.container_3{
    height: 911px;
    width: 100%;
    background-image: url(/storage/img/Fondo_Pagina_3.png);
    background-repeat: no-repeat;  
    background-attachment: fixed;
    background-blend-mode: exclusion;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
.sub_container_3{
    display: flex;
    width: 300px;
    height: 900px;
    position: static;
}   
.offers{
    display: flex;
    width: 100%;
    height: 900px;
}
.texto_pag_3{
    top: 0;
    left: 0;
    width: 40%;
    height: 55%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    margin: 200px 550px;
    border: 7px solid #e58f00 ;
}
.titulo_pag_3{
    color: white;
    display: flex;
    text-align: center;
    margin: 60px 50px 5px 210px;
    font-size: 50px; 
}
.parrafo_pag_3{
    display: flex;
    text-align: center;
    margin:  50px 100px 400px 80px;
    font-size: 32px;
}